/* Import Nunito for main text */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

/* Import Montserrat for numbers */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* If you have different weights, add them like this */
@font-face {
  font-family: 'Signatie';
  src: url('/fonts/signatie.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* Add a utility class for number styling */
.font-number {
  font-family: 'Montserrat', sans-serif;
  font-feature-settings: "tnum" on, "lnum" on;
  letter-spacing: -0.02em;
}

/* Add more @font-face declarations for other weights/styles */ 